
<button routerLink="/new" class="btn btn-primary ml-5 mt-5"><span class="h2">Cadastrar livro</span></button>
<div *ngIf="livros && livros.length > 0" class="livros m-5">
    <div *ngFor="let livro of livros" class="livro-card card ">
        <img class="livro-card-img card-img-top" src="{{livro.capa}}" alt="" srcset="">
        <div class="card-body">
            <h3 class="livro-card-titulo">{{livro.titulo}}</h3>
            <b>Autor: {{livro.autor}}</b>
            <!--p class="livro-card-descricao">{{livro.descricao}}</p>-->
            <br>
        </div>
        <div class="row ">
            <button class="btn btn-primary" [routerLink]="['/editar', livro.id]">
                <mat-icon>
                    edit
                </mat-icon>
            </button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>