.livros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.livro-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    flex: 0 0 calc(33.33% - 10px);
    margin: 5px;
    transition: transform 1s
}
.livro-card:hover{
    transform: scale(1.02);
    background-color: #222222;
    color: white;
}
  
.livro-card-img {

    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: border-radius 1s;
}
  
.livro-card-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
  
.livro-card-descricao {
    font-size: 16px;
    white-space: pre-wrap;
}
  